@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #222222;
    --secondary-color: #7B7B7B;
    --tertiary-color: #F8F8F8;
    --background-color: #FFF;
    --text-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header e Navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 10vh;
    padding: 30px 70px 0px 60px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 75px;
}

.navbar-left .nav-section {
    display: flex;
    align-items: center;
}

.navbar-left .nav-section:first-child {
    gap: 45px;
}

.navbar-left .nav-section:last-child {
    gap: 60px;
}

#Logo {
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--text-size);
    color: var(--primary-color);
    gap: 5px;
    transition: font-size 0.2s ease, font-weight 0.2s ease;
}

.nav-links:hover {
    font-size: 20px;
    font-weight: bold;
}

.navbar-right .nav-links {
    text-decoration: underline;
}

/* Main Content */
.introduction-section {
    display: flex;
    height: 90vh;
}

/* Seção Left - Texto Vertical */
.introduction-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    padding-top: 30px;
}

.vertical-text {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--secondary-color);
    font-size: var(--text-size);
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: center;
    position: relative;
    left: -6px
}

.vertical-text .divider {
    border-bottom: 1px solid var(--secondary-color);
    width: 470px;
}

/* Seção Right */
.introduction-right {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding-left: 50px;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 140px;
    justify-content: center;
}

/* Stats Section */
.stats {
    display: flex;
    gap: 100px;
}

.stat-item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.stat-icon {
    padding-top: 10px;
}

.stat-content .number {
    font-size: 50px;
    font-weight: bold;
}

.stat-content .label {
    color: var(--secondary-color);
    font-size: 18px;
}

/* Greeting Section */
.greeting h1 {
    font-size: 140px;
    margin: 0;
}

.name-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
}

.name-divider {
    border-bottom: 2px solid black;
    width: 20px;
}

.name-text {
    font-size: 18px;
}

/* Scroll Section */
.scroll-section {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.scroll-text {
    font-size: 18px;
    color: var(--secondary-color);
}

/* Image */
#celso {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
    transition: filter 0.2s ease;
}

#celso:hover {
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.397));
}